body,HTML{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    overflow-x: hidden;
    
    
}
HTML{
    scroll-behavior: smooth;
}
.first-nav-bar{
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
   justify-content: space-evenly;
    align-items: center;
}
.first-nav-bar-1st-sec{
    display: flex;
}

.first-nav-bar-2nd-sec{
    display: flex;
    align-items: center;
}

i{
    padding: 5px;
}
.mobile-num,.email{
    margin-right: 12px;
}
.onlinePayment,.appointment{
    background-color: blue;
    border-radius: 30px;
    padding: 15px;
    margin: 10px;
    font-weight: bold;
}
.onlinePayment:hover{
    background-color: rgb(69, 68, 68);
    color: white;
}
.appointment{
    background-color: green;
   
}



@media (max-width:1350px){
    .first-nav-bar{
        flex-direction: column;
    }
    .first-nav-bar-2nd-sec{
        flex-direction: column;
    }
    
    
    
}
.second-nav-bar{
    
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    color: black;
    justify-content: space-evenly;
    align-items: center;
    
}
.second-nav-bar img{
    width: 200px;
    height: 75px;
    
}
.second-nav-bar ul li{
    position: relative;
    list-style: none;
    float: left;
    z-index: 8;
   
   
}
.second-nav-bar ul li a{
    color: black;
    font-size: 1.5em;
    padding: 20px 25px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    
}
.second-nav-bar ul li a:hover{
    background-color: skyblue;
}

.second-nav-bar ul li ul,.second-nav-bar ul .ul_tag{
    position: absolute;
    left: 0;
    width: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    justify-content: flex-start;
    display: none;

   
    
}
.second-nav-bar ul li:hover ul{
    display: flex;
}
.second-nav-bar ul li ul li a{
    font-size: 18px;
    color: grey;
    margin-left: -40px;
    padding: 15px 15px;
}



@media (max-width:1120px)
{
    .second-nav-bar{
        padding: 10px 20px;
       height: 80px;
        flex-direction: column;
        align-items: flex-start;
        justify-content:flex-start;
    }  
    .second-nav-bar .list-division .ul_tag{
        display: flex;
        flex-direction: column;
        display: none;
    }
    .second-nav-bar .list-division .ul_active{
        display: flex;
    }
    .second-nav-bar ul li ul{
        position: static;
    }
    .menu-toggle{
        position: relative;
        top: -55px;
        right: -800px;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
       
        
       }
       .menu-toggle::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: grey;
        transform: translateY(-12px);
        box-shadow: 0 12px grey;
       }
       .menu-toggle::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: grey;
        transform: translateY(12px);
       }
       .second-nav-bar.menu-active   .menu-toggle::before{
        transform: rotate(45deg);
        box-shadow: 0 0 10px black;
       }
       .second-nav-bar.menu-active   .menu-toggle::after{
        transform: rotate(315deg);
       }
       .menu-active{
        height: auto;
       }
   

}
@media (max-width:880px)
{
    .menu-toggle{
        right: -500px;
    }   
}
@media (max-width:575px)
{
    .menu-toggle{
        right: -300px;
    }   
}
@media (max-width:375px)
{
    .menu-toggle{
        right: -210px;
    }   
}

.section-2{
    text-align: center;
    height: 300px;
   padding: 50px 300px;
   margin-bottom: 200px;
   
   
}
.section-2 p{
   margin-bottom: 50px;
    text-align: center;
    letter-spacing: 0.1px;
    line-height: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

     
}


.section-2 .Brochure-download{
    background-color: darkblue;
    padding: 8px;
    color: white;
    font-size: 24px;
    border: 3px solid darkblue;
    text-decoration: none;
}
@media (max-width:910px)
{
    .section-2{
        padding: 50px 100px;
        height: auto;
    }
}
@media (max-width:580px)
{
    .section-2{
        padding:0;
        height: auto;
    }
}
@media (max-width:310px)
{
    .section-2 .Brochure-download{
        font-size: 20px;
        padding: 5px;
    }
}
@media (max-width:260px)
{
    .section-2 .Brochure-download{
        font-size: 16px;
        padding: 0;
    }
}

footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-section-1,.footer-section-3{
    margin-top: 30px;
    margin-bottom: 30px;
}
footer p{
    width: 300px;
    line-height: 30px;
    color: grey;
}
.Brochure-download{
    background-color: darkblue;
    padding: 8px;
    color: white;
    border-radius: 30px;
    border: 3px dotted white;
    text-decoration: none;
    
}

@media (max-width:1100px){
    footer{
        flex-direction: column;
        
    }
    .footer-section-2 {
        margin-left: 25%;
    }
    
    
}
@media (max-width:600px){
    footer{
        justify-content: flex-start;
        align-items: flex-start;
        
    }
    .footer-section-2 {
        margin-left: 0;
    }
    
    
    
}